<h2>Contact</h2>
<div class="col-sm-6 col-sm-offset-2">
  <form [formGroup]="contactForm" (ngSubmit)="onContacter()">
    <div class="form-group">
      <label for="nom">
        Nom & Prénom
      </label>
      <input type="text" id="nom" class="form-control" formControlName="nom" />
    </div>
    <div *ngIf="nom.pristine || nom.untouched" class="alert alert-danger">
      Le nom est obligatoire
    </div>

    <div class="form-group">
      <label for="email">
        Email:
      </label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          name="genre"
          value="Homme"
          formControlName="genre"
        />Homme
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input
          type="radio"
          class="form-check-input"
          name="genre"
          value="Femme"
          formControlName="genre"
        />Femme
      </label>
    </div>
    <div class="form-group">
      <label for="sel">
        Région:
      </label>
      <select id="sel" class="form-control" formControlName="region">
        <option>Grand Tunis</option>
        <option>Autre</option>
      </select>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input
          type="checkbox"
          class="form-check-input"
          value="News"
          formControlName="newsLetter"
        />Inscription au NewsLetter
      </label>
    </div>
    <h5>Produits préférés</h5>
    <div formArrayName="preferences">
      <div *ngFor="let p of lesPreferences.controls; let i = index">
        <input type="text" [formControlName]="i" />
      </div>
    </div>
    <button type="button" class="btn btn-warning" (click)="onAjouterPreference()">Ajouter Préférence</button>
    <button class="btn btn-success" [disabled]="contactForm.invalid" >Envoyer</button>
  </form>
</div>
<br />
<input type="button" (click)="onAccueil()" value="Accueil" />
