<br/>
<h3>Ajout d'un produit</h3>

<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group"  >
            <label for="id">
                Identifiant du produit
            </label>
            <input type="number" id="id" name="id"  class="form-control" formControlName="id"  >
        </div>
        <div  class="alert alert-danger">
            L'identifiant doit être un nombre
        </div>
        <!--{{identif.className}}-->
        <div class="form-group">
            <label for="libelle">
                 Libellé du produit
            </label>
            <input type="text" id="libelle" name="lib" class="form-control" formControlName="libelle">
            </div>

          <!--  <div *ngIf="lib.errors?.pattern && lib.dirty" class="alert alert-danger">
                Le libellé doit commencer par une majuscule suivie d'au moins 1 caractère 
            </div>
        -->
        <div *ngIf="idProduct.invalid && idProduct.dirty || idProduct.touched" class="alert alert-danger">
            Le libellé est un champ obligatoire
        </div>
        
           <br/>   
        <button type="submit" class="btn btn-success" >Enregistrer</button>
        <input type="reset" class="btn btn-danger" (click)="productForm.reset();submitted=false;" value="Vider"/>
        <div [hidden] ="!submitted" >
            {{message}}
        </div>

    </form>

</div>

  



